@use "../../../styles/global.scss" as *;
@use "../../../styles/_variables.scss" as *;
@use "../../../styles/_mixins.scss" as *;

.info-page {
  .info-page__section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: white;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      margin-top: 10px;
    }

    &--one {
      background-color: #f44336; /* Red */
    }

    &--two {
      background-color: #2196f3; /* Blue */
    }

    &--three {
      background-color: #4caf50; /* Green */
    }

    &--four {
      background-color: #ffeb3b; /* Yellow */
      color: black; /* Text color for better readability on yellow background */
    }

    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-align: left;

      img {
        width: 40%;
      }

      h2,
      p {
        width: 50%;
      }
    }

    @include desktop {
      padding: 40px;
      img {
        width: 30%;
      }

      h2,
      p {
        width: 60%;
      }
    }
  }
}
